{% extends "base.html" %}
{% block title %}baseblog{% endblock %}

    {% block navbar %}
    <li><a href="{{ url_for('home', popular='true') }}">Popular</a></li>
    <li>
        
        <form method = "GET" action = "/">
        <ul class="categories">
          {% for category in categories %}
          <li>
              <div class="checkbox-wrapper">
                <label for="{{ category.category_name|lower }}">
                  <!-- MODIFIED: Use category name for value and ID -->
                  <input type="checkbox" 
                         id="{{ category.category_name|lower }}" 
                         name="category" 
                         value="{{ category.category_name }}">
                  <span class="inner-label">{{ category.category_name }}</span>
                </label>
              </div>
          </li>
          {% endfor %}
              <button type="submit">Apply Filters</button>
        </ul>
        </form>
    </li>
    {% endblock %}
         

       
    {% block content %}{% endblock %}
      
       

