{% extends 'base.html' %}
{% block title %}Create New Note{% endblock %}



{% block navbar %}
<form action="{{ url_for('add_note') }}" method="POST">
<div class="form-group" style="margin-top: 20px;">
    <button type="submit" class="write-btn" onclick="submitForm(event)">Save Note</button>
    <a href="{{ url_for('notes_list') }}" class="write-btn-a" style="text-decoration: none;">Cancel</a>
</div>
{% endblock %}

{% block content %}
    
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    
    
        <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" 
            placeholder="Title" required style="width: 1210px; background-color: #34251E; color: white; padding: 5px; border: 1px solid #1B212B; margin-bottom: 20px; font-size: 24px;" 
                   required>
        </div>
        
        <!-- Hidden input to store Quill editor content -->
        <input type="hidden" id="hidden-input" name="content">
        
        <!-- Quill editor container -->
        <div id="editor" style="height: 350px; background-color: #9C8874;"></div>
        
        
    

    <!-- Include Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    
    <script>
        // Initialize Quill editor
        const quill = new Quill('#editor', {
            theme: 'snow'
        });

        function submitForm(e) {
            e.preventDefault();
            document.getElementById('hidden-input').value = quill.root.innerHTML;
            e.target.closest('form').submit();
        }
    </script>
</form>
{% endblock %}
